<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TeamcityArtifactAutoinstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@company.com">
        <network host="smtp.company.com" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
      <param name="File" value="error-log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <TeamcityArtifactAutoinstaller.Properties.Settings>
      <setting name="TeamcityProjects" serializeAs="Xml">
        <value>
          <ArrayOfTeamcityProjectConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <TeamcityProjectConfiguration>
              <TeamCityBaseUrl>https://myteamcirtyserver.com</TeamCityBaseUrl>
              <TeamCityProjectId>project1</TeamCityProjectId>
              <TeamCityUserName>username</TeamCityUserName>
              <TeamCityPassword>password</TeamCityPassword>
              <InstallPath>c:\installfiles</InstallPath>
              <InstallCommand>install1.bat</InstallCommand>
              <VerifyUrl>https://project1.com/index.html</VerifyUrl>
              <ArchiveContainsInstallCommand>false</ArchiveContainsInstallCommand>
            </TeamcityProjectConfiguration>
            <TeamcityProjectConfiguration>
              <TeamCityBaseUrl>https://myteamcirtyserver.com</TeamCityBaseUrl>
              <TeamCityProjectId>project2</TeamCityProjectId>
              <TeamCityUserName>username</TeamCityUserName>
              <TeamCityPassword>password</TeamCityPassword>
              <InstallPath>c:\installfiles</InstallPath>
              <InstallCommand>install2.bat</InstallCommand>
              <VerifyUrl>https://project2.com/index.html</VerifyUrl>
              <ArchiveContainsInstallCommand>false</ArchiveContainsInstallCommand>
            </TeamcityProjectConfiguration>
          </ArrayOfTeamcityProjectConfiguration>
        </value>
      </setting>
      <setting name="NotificationEmails" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>email1@company.com</string>
            <string>email2@company.com</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MailBody" serializeAs="String">
        <value>This mail was sent from TeamcityArtifactInstaller</value>
      </setting>
    </TeamcityArtifactAutoinstaller.Properties.Settings>
  </applicationSettings>
</configuration>