<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TeamcityArtifactAutoinstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@company.com">
        <network host="smtp.company.com" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <TeamcityArtifactAutoinstaller.Properties.Settings>
      <setting name="TeamcityProjects" serializeAs="Xml">
        <value>
          <ArrayOfTeamcityProjectConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <TeamcityProjectConfiguration>
              <TeamCityBaseUrl>https://myteamcirtyserver.com</TeamCityBaseUrl>
              <TeamCityProjectId>project1</TeamCityProjectId>
              <InstallPath>c:\installfiles</InstallPath>
              <InstallCommand>install1.bat</InstallCommand>
            </TeamcityProjectConfiguration>
            <TeamcityProjectConfiguration>
              <TeamCityBaseUrl>https://myteamcirtyserver.com</TeamCityBaseUrl>
              <TeamCityProjectId>project2</TeamCityProjectId>
              <InstallPath>c:\installfiles</InstallPath>
              <InstallCommand>install2.bat</InstallCommand>
            </TeamcityProjectConfiguration>
          </ArrayOfTeamcityProjectConfiguration>
        </value>
      </setting>
      <setting name="NotificationEmails" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>email1@company.com</string>
            <string>email2@company.com</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MailBody" serializeAs="String">
        <value>This mail was sent from TeamcityArtifactInstaller</value>
      </setting>
    </TeamcityArtifactAutoinstaller.Properties.Settings>
  </applicationSettings>
</configuration>